{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="line-height: 1.5em;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline" style="font-size:18px">
      {{ title }}
    </h3>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.authors %}
      <p class="page__meta" style="font-size:16px;color:#000000">{{ post.authors }}</p>
    {% endif %}

    <div>
      {% if post.collection == 'teaching' %}
      <p style="font-size:14px;margin:0px"> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.collection == 'publications' and post.status == 'unpublished' %}
        <!-- <p style="font-size:14px;margin:0px">Accepted in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p> -->
        <p style="font-size:14px;margin:0px">{{ post.venue }} {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>    
      {% elsif post.collection == 'publications' %}
        <!-- <p style="font-size:14px;margin:0px">Published in <i></i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p> -->
        <p style="font-size:14px;margin:0px">{{ post.venue }} {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.date %}
        <p class="page__date" style="font-size:14px;margin:0px"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}

      {% if post.collection == 'teaching' %}
        {% if post.excerpt and site.read_more != 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description" style="margin:0px">{{ post.excerpt | markdownify }}</p>
          {% elsif post.excerpt and site.read_more == 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description" style="margin:0px"><p style="margin:0px">{{ post.excerpt | markdownify | remove: '<p style="margin:0px">' | remove: '</p style="margin:0px">' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p style="margin:0px"></p>
        {% endif %}
      {% endif %}

      {% if post.abstract %}
        <span style="font-size:16px;">{{post.abstract}}</span><br />
      {% endif %}

      {% if post.paper %}
        <a href="{{post.paper}}" style="padding:0px;margin:0px;font-size:14px;color:inherit">[PAPER]</a>
      {% endif %}
      {% if post.code %}
        <a href="{{post.code}}" style="padding:0px;margin:0px;font-size:14px;color:inherit">[CODE]</a>
      {% endif %}
      {% if post.poster %}
        <u><a href="{{post.poster}}" style="padding:0px;margin:0px;font-size:14px;color:inherit">[POSTER]</a></u>
      {% endif %}
      {% if post.slide %}
        <u><a href="{{post.slide}}" style="padding:0px;margin:0px;font-size:14px;color:inherit">[SLIDES]</a></u>
      {% endif %}
      {% if post.demo %}
        <u><a href="{{post.demo}}" style="padding:0px;margin:0px;font-size:14px;color:inherit">[DEMO]</a></u>
      {% endif %}
      <!-- {% if post.award %}
        <img src="/images/award.png" style="width:25px;height:25px;display:inline-block;vertical-align:top;"/> <div style="font-size:14px;color:#245dc1;display:inline-block;">{{ post.award }}</div>
      {% endif %} -->

    </div>

  </article>
</div>